/* SCREEN SIZE REFERENCES:
320px — 480px for mobile devices, 
481px — 768px for iPads & tablets, 
769px — 1024px for small screens like laptop, 
1025px — 1200px for large screens like Desktops, 
and 1201px and above for extra large screens like TV.

Le site est responsive : 
il s’affiche sans perte d’information et sans barre de défilement
horizontale sur les différentes tailles
Smartphone, tablette, écran de portable,
écran fixe (au moins jusqu’à une résolution de 1920x1080).

*/

// VARIABLES & MIXIN

$violet-primary: #9356dc ;
$pink-primary: #ff79da ;

$color-btn-like: linear-gradient(to top right, $pink-primary, $violet-primary);
$color-btn-secundary: linear-gradient(to bottom right, $pink-primary, $violet-primary);

@mixin btn-bg {
  background: linear-gradient(to bottom right, $pink-primary, $violet-primary);
}


/* MOBILE DEVICES - 320px — 480px for */
// LOADER

.loader {
  text-align: center;
  position: fixed;
  z-index: 1 ;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $violet-primary;
  animation-name: fadeOut;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0; visibility: hidden;}
}

.loader img {
  scale: 1.8 ;
  padding: 200px 50px 50px 50px;
}

.loader i {
  padding: 50px;
  font-size: 6rem;
  text-align: center;
}


/* GENERAL */

html {
  max-width: 1300px;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f7f7f7 ;
}

h1 {
  font-weight: bold;
  margin-left: 40px;
  
}

h2 {
  font-size: 1.1rem;
}

h3 {
  font-family: "Shrikhand", cursive;
}

a,
a :visited {
  color: initial;
  text-decoration: none;
  cursor: pointer;
}


/* HEADER */

#logo-top {
  width: 165px;
  padding-bottom: 15px;
}

header {
  position: relative;
}

header i {
  position: absolute;
  left: 1.2%;
  top: 28px;
  font-size: 1.5rem;
  color: #353535;
  padding: 0 30px;
}

header,
main {
  text-align: center;
}


/* SECTION LOCATION  */

.location {
  background-color: #eaeaea;
  font-weight: bold;
  color: #353535;
}

.location {
  padding: 20px 0;
  margin: 0;
}

.location i {
  padding: 0 10px;
}

/* SECTION TITLE MENU  */

.title-menu,
.fonctionnement button,
.restaurants {
  background-color: #f7f7f7;
}

header {
  padding: 25px 0 10px 0;
  background-color: white;
}

.title-menu {
  padding: 40px 25px;
  font-size: 1.5rem;
 }

.title-menu p {
  color: #353535;
}

.title-menu button , .button-commander{
  color: white;
  padding: 15px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  background: $color-btn-like;
  transition: all 1000ms ;
  max-width: 180px;
  
&:hover {
  background-image: $color-btn-secundary;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5)
  }
}


/* SECTION FONCTIONNEMENT  */

.fonctionnement,
.restaurants {
  padding: 30px 10px 70px 20px;
}

.fonctionnement {
  background-color: white;
  padding-left: 20px;
}

.fonctionnement h1,
.restaurants h1,
.restaurants h2,
.restaurants p {
  text-align: left;
}

.buttons-fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
   }

.buttons-fonctionnement button {
  width: 95%;
  min-width: 150px;
  max-width: 400px;
  height: 60px;
  font-weight: bold;
  font-size: 1.05rem;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 40px;
  margin: 8px;
  display: flex;
  justify-content: left;
  align-items: center;
  transition: background-color 300ms, box-shadow 300ms;
  &:hover {
    background-color: #fafafa;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5)
}
}

.buttons-fonctionnement span {
  position: relative;
  right: 55px;
  color: white;
  width: 12px;
  height: 12px;
  font-weight: normal;
  background: $violet-primary;
  border-radius: 20px;
  padding: 8px;
  line-height: 0.9rem;
}

.buttons-fonctionnement .fa-solid {
position: relative;
right: 25px;
  font-size: 1.3rem;
  color: #7e7e7e;
  &:hover {
    color: $violet-primary;
  }
}


/* SECTION RESTAURANTS */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin: 10px;
  height: auto;
  background-color: white;
 }

.card img {
  object-fit: cover;
  height: 200px;
  border-radius: 15px 15px 0 0;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 15px;
  line-height: 1rem;
}

.card-title {
  margin-bottom: 0.5rem ;
}
.card-subtitle {
  margin-top: 0.5rem;
}

.nouveau {
  position:absolute;
  padding: 8px;
  margin: 10px;
  top: 2%;
  right: 2%;
  color: #008766;
  font-weight: bold;
  font-size: 0.8rem;
  background-color: #99e2d0;
}

.restaurants .restaurant-heart {
  border: none;
  background-color: white;
}

.fa-heart {
  color: white; 
  font-size: 1.5rem;
  background-image: linear-gradient(#FF79DA 0%, #9356DC 60%);
    -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 2px black;

  transition: all 1.5s; 
 &:hover {
  background-image: linear-gradient(#9356dc 0%, #ff79da 60%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
  opacity: 1;
   }
}


/* FOOTER  */

footer {
  background-color: #353535;
  color: white;
  padding: 20px;
}
footer img {
  filter: invert(1);
}

#logo-bottom {
  width: 137px;
  padding-top: 10px;
}

footer i {
  margin-right: 1vw;
}

footer p {
  cursor: pointer;
}

// PAGES MENUS

.restaurant-top-photo {
  img {
    width: 100%;
    height: 350px;
    object-fit: cover ;
  }
  }

.restaurant-and-heart {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-right: 10%;
}

.restaurant-and-heart h3 {
  margin: 10px 15px 0;
  font-size: 1.7rem;
  font-weight: lighter;
}

.restaurant-and-heart i {
  font-size: 1.5rem;
  margin-bottom: 0;
 }

.menu-restaurant {
  background-color: #f7f7f7 ;
  padding: 5px 10px;
  margin: 0;
  text-align: left;
  border-radius: 20px 20px 0 0 ;
  position: relative;
  bottom: 40px;
}


.menu-restaurant h4 {
  text-align: left;
  font-weight: lighter;
  margin-bottom: 5px;
  }

 .menu-restaurant hr {
  border: 0px;
  border-top: #99E2D0 3px solid ;
  width: 12%;
  margin: 0;
 }

.menu-restaurant .card-menu {
position: relative;
display: flex;
justify-content: space-between;
margin: 10px 0;
background-color: white;
border-radius: 15px;
border: none;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
transition: background-color 300ms, box-shadow 300ms;
  &:hover {
    background-color: #fafafa;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5)
}
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card-menu {
  opacity: 0;
  animation: fadeIn 1.8s forwards;
  transition: all 2000ms ease-in-out;
}

.menu-restaurant .card-menu:nth-of-type(1) {
  animation-delay: 1s;
}

.menu-restaurant .card-menu:nth-of-type(2) {
  animation-delay: 0.5s;
}

.menu-restaurant .card-menu:nth-of-type(3) {
  animation-delay: 1s;
}

.menu-restaurant .card-menu:nth-of-type(4) {
  animation-delay: 1s;
}


.menu-restaurant .card-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: baseline;
  position:relative;
  width: 100%;
  transition: all 6000ms;
  text-overflow:ellipsis;
}

.card-menu-subtitle {
display: flex;
justify-content: space-between;
align-items: center;
line-height: 1rem;
width: 100%;
}


.menu-restaurant h5 {
  margin: 0;
  padding: 10px 5px 0 9px;
  text-align: left;
  font-weight: 600;
  font-size: 1.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



.menu-restaurant p {
  padding: 0 5px 5px 9px;
  margin: 4px 0 0 0;
  font-size: 0.9rem;
  font-weight: lighter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-restaurant span {
  padding: 0 15px 0 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: #353535;
}

.column-circle-check {
  width: 0%;
  transition: all 400ms ease-in-out;
  background-color: #99e2d0;
  margin: 0;
  padding: 0;
  height: 62px;
  box-sizing: border-box;
  }


.card-menu:hover .column-circle-check{
  display: flex;
  align-items: center;
  width: 60px ;
  background-color: #99e2d0;
  position: relative;
  border-radius: 0 15px 15px 0;
 }

 .fa-circle-check {
  position: relative;
  left: 15px;
  opacity: 0;
  font-size: 1.25rem ;
  transition: opacity 500ms ease-in-out ;
  width: 0%;
  color: transparent;
 }

 .card-menu:hover .fa-circle-check{
 opacity: 1;
background-color: #99e2d0;
color: white;
 }

 
.bottom-button {
  background-color: #f7f7f7 ;
}

.button-commander {
  width: 50%;
  margin: 0 0 40px 0;
  font-size: 1rem;
    }

    @media (max-width: 400px) {
      .menu-restaurant h5 {
        max-width: 50vw;
      }
      .menu-restaurant p {
        max-width: 40vw;
      }
    }

    

   @media (max-width: 230px) {
  html {
    font-size: 0.9em;
  } 

  .menu-restaurant h5 {
    max-width: 50vw;
  }
  .menu-restaurant p {
    max-width: 30vw;
  }

  }

  @media (max-width: 200px) {
    html {
      font-size: 0.8em;
    } 

    }

 @media (min-width: 769px) {

  #logo-top {
    width: 200px;
  }

.buttons-fonctionnement {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 20px;
}

.buttons-fonctionnement button {
  position: relative;
  margin: 20px 20px 0 20px;
  width: calc(min(26.5vw, 365px));
}

.card {
  width: calc(min(40vw, 550px));
    }

.cards-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
   }

.menu-restaurant {
margin: 0 auto;
width: 50%;
max-width: 600px;
}



.footer-menu {
  display: flex;
  gap: 2.5%;
  justify-content: right;
  padding: 35px 30px 0 0;
  }

 .footer-menu a {
  order: 5;
  padding-left: 7%;
 }


}