/* SCREEN SIZE REFERENCES:
320px — 480px for mobile devices, 
481px — 768px for iPads & tablets, 
769px — 1024px for small screens like laptop, 
1025px — 1200px for large screens like Desktops, 
and 1201px and above for extra large screens like TV.

Le site est responsive : 
il s’affiche sans perte d’information et sans barre de défilement
horizontale sur les différentes tailles
Smartphone, tablette, écran de portable,
écran fixe (au moins jusqu’à une résolution de 1920x1080).

*/

// VARIABLES & MIXIN

$violet-primary: #9356dc ;
$pink-primary: #ff79da ;

$color-btn-like: linear-gradient(to top right, $pink-primary, $violet-primary);
$color-btn-secundary: linear-gradient(to bottom right, $pink-primary, $violet-primary);

@mixin btn-bg {
  background: linear-gradient(to bottom right, $pink-primary, $violet-primary);
}


/* MOBILE DEVICES - 320px — 480px for */
// LOADER

.loader {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $violet-primary;
  animation-name: fadeOut;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0; visibility: hidden;}
}

.loader img {
  scale: 1.8 ;
  padding: 200px 50px 50px 50px;
}

.loader i {
  padding: 50px;
  font-size: 6rem;
  text-align: center;
}


/* GENERAL */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f7f7f7 ;
}

h1 {
  font-weight: bold;
  
}

h2 {
  font-size: 1.1rem;
}

h3 {
  font-family: "Shrikhand", cursive;
}

a,
a :visited {
  color: initial;
  text-decoration: none;
  cursor: pointer;
}


/* HEADER */

#logo-top {
  width: 165px;
}

header i {
  position: absolute;
  left: 1.2%;
  top: 28px;
  font-size: 1.5rem;
  color: #353535;
  padding: 0 30px;
}

header,
main {
  text-align: center;
}

/* SECTION LOCATION  */

.location {
  background-color: #eaeaea;
  font-weight: bold;
  color: #353535;
}

.location {
  padding: 20px 0;
  margin: 0;
}

.location i {
  padding: 0 10px;
}

/* SECTION TITLE MENU  */

.title-menu,
.fonctionnement button,
.restaurants {
  background-color: #f7f7f7;
}

header {
  padding: 25px 0 10px 0;
  background-color: white;
}

.title-menu {
  padding: 40px 25px;
  font-size: 1.1rem;
 }

.title-menu p {
  color: #353535;
}

.title-menu button , .button-commander{
  color: white;
  padding: 15px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  background: $color-btn-like;
  transition: all 1000ms ;
  
&:hover {
  background-image: $color-btn-secundary;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5)
  }
}


/* SECTION FONCTIONNEMENT  */

.fonctionnement,
.restaurants {
  padding: 30px 10px 70px 10px;
}

.fonctionnement {
  background-color: white;
}

.fonctionnement h1,
.restaurants h1,
.restaurants h2,
.restaurants p {
  text-align: left;
}

.buttons-fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-fonctionnement button {
  width: 95%;
  height: 60px;
  font-weight: bold;
  font-size: 1.05rem;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 40px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 300ms, box-shadow 300ms;
  &:hover {
    background-color: #fafafa;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5)
}
}

.buttons-fonctionnement .fa-solid {
  position: absolute;
  left: 15%;
  color: #7e7e7e;
  &:hover {
    color: $violet-primary;
  }
}


.buttons-fonctionnement span {
  color: white;
  width: 12px;
  height: 12px;
  font-weight: normal;
  position: absolute;
  left: 2%;
  background: $violet-primary;
  border-radius: 20px;
  padding: 8px;
  line-height: 0.9rem;
}


/* SECTION RESTAURANTS */

.card {
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin: 10px;
  height: auto;
  background-color: white;
 }

.card img {
  object-fit: cover;
  height: 200px;
  border-radius: 5% 5% 0 0;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 15px;
  line-height: 0.5rem;
}

.nouveau {
  position: absolute;
  padding: 8px;
  margin: 10px;
  right: 10%;
  color: #008766;
  font-weight: bold;
  font-size: 0.8rem;
  background-color: #99e2d0;
}

.restaurants button {
  border: none;
  background-color: white;
}

.restaurants .fa-heart {
    font-size: 1.5rem;
    transition: transform 100ms , font-weight 1000ms , color 600ms;
 &:hover {
  transform: scale(1.05);
  color: $violet-primary;
  font-weight: 700;
   }
}


/* FOOTER  */

footer {
  background-color: #353535;
  color: white;
  padding: 20px;
}
footer img {
  filter: invert(1);
}

#logo-bottom {
  width: 137px;
  padding-top: 10px;
}

footer i {
  margin-right: 5px;
}

footer p {
  cursor: pointer;
}

// PAGES MENUS

.restaurant-top-photo {
  img {
    width: 100%;
  }
  }

.restaurant-and-heart {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 10%;
}

.restaurant-and-heart h3 {
  margin-bottom: 0;
}

.restaurant-and-heart i {
  font-size: 1.5rem;
  margin-bottom: 0;
 }

.menu-restaurant {
  background-color: #f7f7f7 ;
  padding: 5px 10px;
  margin: 0;
  text-align: left;
  border-radius: 20px 20px 0 0 ;
  position: relative;
  bottom: 40px;
}

.menu-restaurant h3 {
 font-size: 1.7rem;
 font-weight: lighter;
}

.menu-restaurant h4 {
  text-align: left;
  font-weight: lighter;
  margin-bottom: 5px;
  }

 .menu-restaurant hr {
  border: 0px;
  border-top: #99E2D0 3px solid ;
  width: 12%;
  margin: 0;
 }

.menu-restaurant .card-menu {
display: flex;
flex-direction: column;
padding: 11px;
margin: 10px 0;
background-color: white;
border-radius: 15px;
border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: background-color 300ms, box-shadow 300ms;
  &:hover {
    background-color: #fafafa;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5)
}
}

.menu-restaurant .card-menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-restaurant h5 {
  margin: 0;
  text-align: left;
  font-weight: 600;
  font-size: 1.1rem;
}

.menu-restaurant p {
  margin: 4px 0 0 0;
  font-size: 0.9rem;
  font-weight: lighter;
}

.menu-restaurant span {
  font-size: 0.9rem;
  font-weight: bold;
  color: #353535;
}

.bottom-button {
  background-color: #f7f7f7 ;
}

.button-commander {
  width: 50%;
  margin: 0 0 40px 0;
  font-size: 1rem;
   }

