@charset "UTF-8";
/* SCREEN SIZE REFERENCES:
320px — 480px for mobile devices, 
481px — 768px for iPads & tablets, 
769px — 1024px for small screens like laptop, 
1025px — 1200px for large screens like Desktops, 
and 1201px and above for extra large screens like TV.

Le site est responsive : 
il s’affiche sans perte d’information et sans barre de défilement
horizontale sur les différentes tailles
Smartphone, tablette, écran de portable,
écran fixe (au moins jusqu’à une résolution de 1920x1080).

 */
/* MOBILE DEVICES - 320px — 480px for */
.loader {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9356dc;
  animation-name: fadeOut;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.loader img {
  scale: 1.8;
  padding: 200px 50px 50px 50px;
}

.loader i {
  padding: 50px;
  font-size: 6rem;
  text-align: center;
}

/* GENERAL */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: bold;
}

h2 {
  font-size: 1.1rem;
}

h3 {
  font-family: "Shrikhand", cursive;
}

a,
a :visited {
  color: initial;
  text-decoration: none;
  cursor: pointer;
}

/* HEADER */
header,
main {
  text-align: center;
}

/* SECTION LOCATION  */
.location {
  background-color: #eaeaea;
  font-weight: bold;
  color: #353535;
}

.location {
  padding: 20px 0;
  margin: 0;
}

.location i {
  padding: 0 10px;
}

/* SECTION TITLE MENU  */
.title-menu,
.fonctionnement button,
.restaurants {
  background-color: #f7f7f7;
}

header {
  padding: 25px 0 10px 0;
}

.title-menu {
  padding: 40px 25px;
  font-size: 1.1rem;
}

.title-menu p {
  color: #353535;
}

.title-menu button {
  color: white;
  padding: 15px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  background: #9356dc;
  transition: background-color 1000ms, box-shadow 1000ms;
}
.title-menu button:hover {
  background-color: #ff79da;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/* SECTION FONCTIONNEMENT  */
.fonctionnement,
.restaurants {
  padding: 30px 10px 70px 10px;
}

.fonctionnement h1,
.restaurants h1,
.restaurants h2,
.restaurants p {
  text-align: left;
}

.buttons-fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-fonctionnement button {
  width: 95%;
  height: 60px;
  font-weight: bold;
  font-size: 1.05rem;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 40px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 300ms, box-shadow 300ms;
}
.buttons-fonctionnement button:hover {
  background-color: #fafafa;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.buttons-fonctionnement .fa-solid {
  position: absolute;
  left: 15%;
}

.fa-store {
  color: #9356dc;
}

.buttons-fonctionnement span {
  color: white;
  width: 13px;
  height: 13px;
  font-weight: normal;
  position: absolute;
  left: 2%;
  background-color: #9356dc;
  border-radius: 20px;
  padding: 8px;
}

.fa-list,
.fa-mobile-screen-button {
  color: #7e7e7e;
}

/* SECTION RESTAURANTS */
.card {
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin: 10px;
  height: auto;
  background-color: white;
}

.card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  border-radius: 5% 5% 0 0;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 15px;
  line-height: 0.5rem;
}

.nouveau {
  position: absolute;
  padding: 8px;
  margin: 10px;
  right: 10%;
  color: #008766;
  font-weight: bold;
  font-size: 0.8rem;
  background-color: #99e2d0;
}

.restaurants button {
  border: none;
  background-color: white;
}

.restaurants .fa-heart {
  font-size: 1.5rem;
  transition: transform 100ms, font-weight 1000ms, color 600ms;
}
.restaurants .fa-heart:hover {
  transform: scale(1.05);
  color: #9356dc;
  font-weight: 700;
}

/* FOOTER  */
footer {
  background-color: #353535;
  color: white;
  padding: 20px;
}

footer img {
  filter: invert(1);
}

#logo-bottom {
  width: 137px;
  padding-top: 10px;
}

footer i {
  margin-right: 5px;
}

footer p {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */